<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultado evaluación
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page6">
  <div id="resultadoEvaluaciN-container3" *ngIf="soieReport; else loading" >
    <h3 id="resultadoEvaluaciN-heading4" style="color:#4E8EF7;">
      DIAGNÓSTICO PPA
    </h3>
    <h5 id="resultadoEvaluaciN-heading6" style="color:#000000;">
      {{soieReport.nombre}}
    </h5>
    <div id="resultadoEvaluaciN-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Nombre:
        <strong>
          Alumno 1
        </strong>
      </p>
      <p style="color:#000000;">
        Grado:
        <strong>
          {{soieReport.grado}}
        </strong>
      </p>
    </div>
    
    <div class="spacer" style="width:300px;height:19px;" id="resultadoEvaluaciN-spacer5"></div>
    
    <ion-card id="resultadoEvaluaciN-card28">
      <ion-list>
        <ion-item id="resultadoEvaluaciN-list-item36">
          <ion-label>
              5 Habilidades bajas
          </ion-label>
          <ion-icon name="arrow-dropdown-circle" slot="end"></ion-icon>
        </ion-item>
        <ion-item id="resultadoEvaluaciN-list-item53">
            <ion-label>
                2 Habilidades promedio
            </ion-label>
          <ion-icon name="arrow-dropdown-circle" slot="end"></ion-icon>
        </ion-item>
        <ion-item id="resultadoEvaluaciN-list-item52">
            <ion-label>
                4 Habilidades altas
            </ion-label>
          <ion-icon name="arrow-dropdown-circle" slot="end"></ion-icon>
        </ion-item>
        <ion-item id="resultadoEvaluaciN-list-item-container16">
          <div id="resultadoEvaluaciN-markdown23" class="show-list-numbers-and-dots">
            <p style="margin-top:10px;color:#000000;">
              Clasificación: {{ soieReport.habilidades.cfc.valor }}
            </p>
            <p style="color:#000000;">
              Progresión Numérica: {{ soieReport.habilidades.css.valor }}
            </p>
            <p style="color:#000000;">
              Discriminasión: {{ soieReport.habilidades.efu.valor }}
            </p>
            <p style="color:#000000;">
              Juicio de conceptos: {{ soieReport.habilidades.efc.valor }}
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
</ion-content>