<ion-header>
  <ion-toolbar>
    <ion-title>
      Evaluaciones
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div id="evaluaciones-container2">
    <h3 id="evaluaciones-heading2" style="color:#4E8EF7;">
      Alumno 1
    </h3>
    <h4 id="evaluaciones-heading3" style="color:#000000;font-weight:400;">
      1 Primaria
    </h4>
    <div class="spacer" style="width:300px;height:19px;" id="evaluaciones-spacer4"></div>
  </div>
  <ion-list *ngIf="reports; else loading">
    <ion-item *ngFor="let key_eval of keys_evals" href="/resultado/{{lexium_id}}/{{key_eval}}">
      <ion-thumbnail slot="start">
          <ion-img src="{{reports.evaluaciones[key_eval]['logo']}}"></ion-img>
        </ion-thumbnail>
        <h2>
          {{reports.evaluaciones[key_eval]['nombre'] | titlecase}}
        </h2>
      
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>