<ion-header>
  <ion-toolbar>
    <ion-title>
      Evaluaciones
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page5">
  <div id="evaluaciones-container2">
    <h3 id="evaluaciones-heading2" style="color:#4E8EF7;">
      Alumno 1
    </h3>
    <h4 id="evaluaciones-heading3" style="color:#000000;font-weight:400;">
      1 Primaria
    </h4>
    <div class="spacer" style="width:300px;height:19px;" id="evaluaciones-spacer4"></div>
  </div>
  <ion-list id="evaluaciones-list6">
    <ion-item color="positive" id="evaluaciones-list-item22" href="/resultado">
      <ion-avatar item-left>
        <img src="assets/img/cshEQ9VaQDSa1wjk9nQg_h_intelectuales.png" />
      </ion-avatar>
      <h2>
        DIAGNÓSTICO PPA
      </h2>
    </ion-item>
    <ion-item color="positive" id="evaluaciones-list-item23" href="/resultado">
      <ion-avatar item-left>
        <img src="assets/img/8fI0uDruTPupwIvGTNOX_h_lectura.png" />
      </ion-avatar>
      <h2>
        DIAGNÓSTICO PPA
      </h2>
    </ion-item>
  </ion-list>
</ion-content>