<ion-header>
  <ion-toolbar>
    <ion-title>
      Alumnos Registrados
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button slot="end" size="small" color="primary">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding id="page4">
  <ion-card id="alumnosRegistrados2-card23">
    <ion-list>
      <ion-item-sliding>
        <ion-item color="positive" id="alumnosRegistrados2-list-item7">
          <ion-avatar item-left>
            <img />
          </ion-avatar>
          <h2>
            Alumno 1
          </h2>
        </ion-item>
        <ion-item-options side="start">
          <button ion-button color="positive"></button>
        </ion-item-options>
      </ion-item-sliding>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-list id="alumnosRegistrados2-list3">
        <ion-item color="none" href="/resultados" id="alumnosRegistrados2-list-item14">
          1 Primaria
          <ion-icon name="close" item-right></ion-icon>
        </ion-item>
        <ion-item color="none" href="/resultados" id="alumnosRegistrados2-list-item15">
          2 Primaria
        </ion-item>
        <ion-item color="none" href="/resultados" id="alumnosRegistrados2-list-item16">
          3 Primaria
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-card>
  <ion-card id="alumnosRegistrados2-card25">
    <ion-list>
      <ion-item-sliding>
        <ion-item color="positive" id="alumnosRegistrados2-list-item17">
          <ion-avatar item-left>
            <img />
          </ion-avatar>
          <h2>
            Alumno 2
          </h2>
        </ion-item>
        <ion-item-options side="start">
          <button ion-button color="positive"></button>
        </ion-item-options>
      </ion-item-sliding>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-list id="alumnosRegistrados2-list4">
        <ion-item color="none" id="alumnosRegistrados2-list-item18">
          1 Primaria
          <ion-icon name="close" item-right></ion-icon>
        </ion-item>
        <ion-item color="none" id="alumnosRegistrados2-list-item19">
          2 Primaria
        </ion-item>
        <ion-item color="none" id="alumnosRegistrados2-list-item20">
          3 Primaria
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-card>
</ion-content>
