<ion-header>
  <ion-toolbar>
    <ion-title>
      Alumnos Registrados
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button slot="end" size="small" color="primary">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
      <ion-list>
        <ion-item-sliding>
          <ion-item color="primary" >
              <ion-avatar position="left">
                <img />
              </ion-avatar>
              <h2>
                  Luis E. Salazar
              </h2>
          </ion-item>
          <ion-item-options side="end">
              <ion-item-option color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-list>
        
            <ion-item detail href="/resultados/94062">
              <ion-label>1 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>2 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>3 Primaria</ion-label>
            </ion-item>
            
          </ion-list>
      </ion-list>
  </ion-card>

  <ion-card>
      <ion-list>
        <ion-item-sliding>
          <ion-item color="primary" >
              <ion-avatar position="left">
                <img />
              </ion-avatar>
              <h2>
                  Valentin Salazar
              </h2>
          </ion-item>
          <ion-item-options side="end">
              <ion-item-option color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-list>
        
            <ion-item detail href="/resultados/94063">
              <ion-label>1 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>2 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>3 Primaria</ion-label>
            </ion-item>
            
          </ion-list>
      </ion-list>
  </ion-card>

  <ion-card>
      <ion-list>
        <ion-item-sliding>
          <ion-item color="primary" >
              <ion-avatar position="left">
                <img />
              </ion-avatar>
              <h2>
                  Mateo Salazar
              </h2>
          </ion-item>
          <ion-item-options side="end">
              <ion-item-option color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-list>
        
            <ion-item detail href="/resultados/94064">
              <ion-label>1 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>2 Primaria</ion-label>
            </ion-item>
            <ion-item detail>
              <ion-label>3 Primaria</ion-label>
            </ion-item>
            
          </ion-list>
      </ion-list>
  </ion-card>
  
</ion-content>
